<div class="app-container">
  <div class="">
    <div class="">

      <div class="bubbles">
        <%= link_to destroy_user_session_path, data:{turbo_method: :delete} do %>
          <%= cl_image_tag @dog.photo.key, class:"avatar-large"%>
        <% end %>
        <h2> <%= @dog.name %> </h2>
        <p><%= @dog.breed %>  </p>
        <p><i class="fa-solid fa-venus-mars"></i>  <%= @dog.sexe %> de <%= "#{@dog.age} #{@dog.age > 1 ? "ans" : "an"}"  %> </p>
      </div>

      <div class="dog-description bg-white">
        <%= render "shared/dog_description", locals : {dog: @dog} %>
      </div>

    </div>
  </div>
</div>
