<div class="app-container p-3 full-page">

  <h2>Mon chien</h3>
  <%= simple_form_for @dog do |f| %>
    <div class="form-inputs">
      <div class="form-in-row">
        <div class="large-form-input"> <%= f.input :name, label: "Nom" %></div>
        <div class="large-form-input"> <%= f.input :breed, label: "Race" %></div>
      </div>

      <div class="form-in-row">
        <%= f.input :neutered, label: "Stérilisé(e)", as: :boolean, :input_html => { checked: true } %>
      </div>
      <div class="form-in-row">
        <div class="form-input"><%= f.input :age, label: "Age (ans)" %> </div>
        <div class="form-input"><%= f.input :sexe, collection: Dog::SEX %></div>
        <div class="form-input"><%= f.input :size, label:"Taille", collection: Dog::SIZE %></div>
      </div>
      <%= f.input :energy, label: "On préfère les balades ...",  collection: [['Dynamiques', '3'], ['Peu dynamiques', '2'], ['Pas dynamiques', '1']] %>


      <h3>Ententes : </h3>
      <div class="checkboxes">
        <%= f.input :neutered_males, label: "Mâles stérilisés", as: :boolean, :input_html => { checked: true } %>
        <%= f.input :neutered_females, label: "Femelles stérilisées", as: :boolean, :input_html => { checked: true }  %>
        <%= f.input :unneutered_males, label: "Mâles non stérilisés", as: :boolean, :input_html => { checked: true }  %>
        <%= f.input :unneutered_females, label: "Femelles non stérilisées", as: :boolean, :input_html => { checked: true }  %>
        <%= f.input :small_dogs, label: "Petits chiens", as: :boolean, :input_html => { checked: true }  %>
        <%= f.input :big_dogs, label: "Grands chiens", as: :boolean, :input_html => { checked: true }  %>
      </div>

    </div>
      <%= f.input :photo, label:"Ajouter une photo", as: :file %>

    <div class="form-actions">
      <%= f.button :submit, "Rajouter mon chien", class:"btn-primary" %>
    </div>
  <% end %>

</div>
