<div class="app-container">
  <div class="tinder" data-controller="tindogs">

    <div class="tinder--status">
      <i class="fa fa-remove"></i>
      <i class="fa fa-heart"></i>
    </div>

    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card" data-tindogs-target="card" data-receiver-id="<%= dog.id %>">
          <div class="center-everything">
            <div>
              <%= cl_image_tag dog.photo.key, class:"avatar-large" %>
              <h3> <%= dog.name %> </h2>
              <p><%= dog.breed %>  </p>
              <p> <i class="fa-solid fa-venus-mars"></i>
                <%= "#{dog.sexe} #{dog.neutered ? (dog.sexe == "Femelle" ? "stérilisée": "stérilisé") : (dog.sexe == "Femelle" ? "non stérilisée": "non stérilisé")} de  #{dog.age} #{dog.age > 1 ? "ans" : "an"}" %>
              </p>
            </div>

            <div class="dog-description">
              <%= render partial: "shared/dog_description", locals: { dog: dog } %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="tinder--buttons">
      <button id="nope" data-action="click->tindogs#nope"><i class="fa fa-remove"></i></button>
      <button id="love" data-action="click->tindogs#love"><i class="fa fa-heart"></i></button>
    </div>
  </div>

</div>
<%= render "shared/footer" %>
